services:
  mongodb:
    ports:
      - "27017:27017"
    image: mongodb/mongodb-community-server:6.0-ubi8
    healthcheck:
      test: ["CMD", "mongosh", "--eval", "db.runCommand('ping').ok", "--quiet"]
      interval: 3s
      timeout: 10s
      retries: 5

  app:
    build:
      context: ./spring-boot-hex
      dockerfile: Dockerfile
    depends_on:
      mongodb:
        condition: service_healthy
      broker:
        condition: service_healthy
    ports:
      - "8080:8080"
    environment:
      - SPRING_KAFKA_BOOTSTRAP_SERVERS=broker:29092
    healthcheck:
      test: ["CMD-SHELL", "curl -s -o /dev/null -w '%{http_code}' http://localhost:8080 | grep -qE '(200|404)' || exit 1"]
      interval: 5s
      timeout: 3s
      retries: 10
      start_period: 30s