services:
  mongodb:
    ports:
      - "27017:27017"
    image: mongodb/mongodb-community-server:6.0-ubi8
    healthcheck:
      test: ["CMD", "mongosh", "--eval", "db.runCommand('ping').ok", "--quiet"]
      interval: 3s
      timeout: 10s
      retries: 5

  app:
    build: .
    depends_on:
      mongodb:
        condition: service_healthy
    ports:
      - "8080:8080"