services:
  app:
    build:
      context: ./haskell
      dockerfile: Dockerfile
    depends_on:
      broker:
        condition: service_healthy
    ports:
      - "8080:8080"
    healthcheck:
      test: ["CMD-SHELL", "curl -s -o /dev/null -w '%{http_code}' http://localhost:8080/checkout -X POST -d '{}' | grep -qE '(403)' || exit 1"]
      interval: 5s
      timeout: 3s
      retries: 10
      start_period: 60s
