services:
  db:
    image: postgres
    restart: always
    environment:
      - POSTGRES_DB=library
      - POSTGRES_PASSWORD=password
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 3s
      retries: 10
      start_period: 10s

  app:
    build:
      context: ./spring-boot-adm
      dockerfile: Dockerfile
    depends_on:
      db:
        condition: service_healthy
      broker:
        condition: service_healthy
    ports:
      - "8080:8080"
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/library
      - SPRING_KAFKA_BOOTSTRAP_SERVERS=broker:29092
    healthcheck:
      test: ["CMD-SHELL", "curl -s -o /dev/null -w '%{http_code}' http://localhost:8080 | grep -qE '(200|404)' || exit 1"]
      interval: 5s
      timeout: 3s
      retries: 10
      start_period: 30s